src/main/resources/wsdl/calculator.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.operations.com/calculator" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://service.operations.com/calculator" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:documentation>Calculator</wsdl:documentation>
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.operations.com/calculator">
      <xs:element name="add">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="n1" type="xs:int"/>
            <xs:element minOccurs="0" name="n2" type="xs:int"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="addResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" type="xs:int"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="addRequest">
    <wsdl:part name="parameters" element="ns:add"/>
  </wsdl:message>
  <wsdl:message name="addResponse">
    <wsdl:part name="parameters" element="ns:addResponse"/>
  </wsdl:message>
  <wsdl:portType name="CalculatorPortType">
    <wsdl:operation name="add">
      <wsdl:input message="ns:addRequest" wsaw:Action="urn:add"/>
      <wsdl:output message="ns:addResponse" wsaw:Action="urn:addResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CalculatorSoapBinding" type="ns:CalculatorPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="add">
      <soap12:operation soapAction="urn:add" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CalculatorHttpBinding" type="ns:CalculatorPortType">
    <http:binding verb="POST"/>
    <wsdl:operation name="add">
      <http:operation location="add"/>
      <wsdl:input>
        <mime:content type="text/xml" part="parameters"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content type="text/xml" part="parameters"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Calculator">
    <wsdl:port name="CalculatorHttpSoapEndpoint" binding="ns:CalculatorSoapBinding">
      <soap12:address location="http://localhost:9763/services/Calculator.CalculatorHttpSoapEndpoint/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>